@import 'tailwindcss';

:root {
  --background: #fcfcf6;
  --foreground: #171717;
  --foreground-secondary: #232323;
  --foreground-ternary: #686868;
  --background-projects: #f9f9eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-ternary: var(--foreground-ternary);
  --color-background-projects: var(--background-projects);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ffffff;
    --foreground-secondary: #fcfcf6;
    --foreground-ternary: #e8e8e3;
    --background-projects: #28282a;
  }
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
