@import 'tailwindcss';

:root {
  --background: #fff;
  --entry: #fff;
  --foreground: rgba(0, 0, 0, 0.88);
  --secondary: rgba(0, 0, 0, 0.56);
  --tertiary: rgba(0, 0, 0, 0.16);
  --content: rgba(0, 0, 0, 0.88);

  --projects-bg: #fbfbf7;
  --code-bg: #f5f5f5;
  --border: #eee;
}

@theme inline {
  --color-background: var(--theme);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-projects: var(--projects-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1e20;
    --entry: #2e2e33;
    --foreground: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.64);

    --projects-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #5b5d67;
  }
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
